In [3]:
#!pip install pandas

In [4]:
import pandas as pd

# Use the relative path to access the file
file_path = './data/fortune1000_2023.csv'

# Read the CSV file
df = pd.read_csv(file_path)

# Display the first few rows
df.head()

,Rank,Company,Ticker,Sector,Industry,Profitable,Founder_is_CEO,FemaleCEO,Growth_in_Jobs,Change_in_Rank,...,Assets_M,CEO,Country,HeadquartersCity,HeadquartersState,Website,CompanyType,Footnote,MarketCap_Updated_M,Updated
0,1,Walmart,WMT,Retailing,General Merchandisers,yes,no,no,no,0.0,...,243197,C. Douglas McMillon,U.S.,Bentonville,AR,www.stock.walmart.com,Public,"Figures are for fiscal year ended Jan. 31, 202...",416986.0,2023-08-02
1,2,Amazon,AMZN,Retailing,Internet Services and Retailing,no,no,no,no,0.0,...,462675,Andrew R. Jassy,U.S.,Seattle,WA,www.amazon.com,Public,"Market value as of July 17, 2023.",1370373.0,2023-08-02
2,3,Exxon Mobil,XOM,Energy,Petroleum Refining,yes,no,no,no,3.0,...,369067,Darren W. Woods,U.S.,Irving,TX,www.exxonmobil.com,Public,Excise taxes have been deducted. Market value ...,409878.0,2023-08-02
3,4,Apple,AAPL,Technology,"Computers, Office Equipment",yes,no,no,yes,-1.0,...,352755,Timothy D. Cook,U.S.,Cupertino,CA,www.apple.com,Public,"Figures are for fiscal year ended Sept. 30, 20...",3051211.0,2023-08-02
4,5,UnitedHealth Group,UNH,Health Care,Health Care: Insurance and Managed Care,yes,no,no,yes,0.0,...,245705,Andrew P. Witty,U.S.,Minnetonka,MN,www.unitedhealthgroup.com,Public,"Market value as of July 17, 2023.",450694.0,2023-08-02

In [5]:
df.dtypes

Rank                            int64
Company                        object
Ticker                         object
Sector                         object
Industry                       object
Profitable                     object
Founder_is_CEO                 object
FemaleCEO                      object
Growth_in_Jobs                 object
Change_in_Rank                float64
Gained_in_Rank                 object
Dropped_in_Rank                object
Newcomer_to_the_Fortune500     object
Global500                      object
Best_Companies                 object
Number_of_employees             int64
MarketCap_March31_M           float64
Revenues_M                      int64
RevenuePercentChange          float64
Profits_M                       int64
ProfitsPercentChange          float64
Assets_M                        int64
CEO                            object
Country                        object
HeadquartersCity               object
HeadquartersState              object
Website                        object
CompanyType                    object
Footnote                       object
MarketCap_Updated_M           float64
Updated                        object
dtype: object

In [6]:
df = df.replace({'yes': 1, 'no': 0})

In [7]:
df.head()

,Rank,Company,Ticker,Sector,Industry,Profitable,Founder_is_CEO,FemaleCEO,Growth_in_Jobs,Change_in_Rank,...,Assets_M,CEO,Country,HeadquartersCity,HeadquartersState,Website,CompanyType,Footnote,MarketCap_Updated_M,Updated
0,1,Walmart,WMT,Retailing,General Merchandisers,1,0,0,0.0,0.0,...,243197,C. Douglas McMillon,U.S.,Bentonville,AR,www.stock.walmart.com,Public,"Figures are for fiscal year ended Jan. 31, 202...",416986.0,2023-08-02
1,2,Amazon,AMZN,Retailing,Internet Services and Retailing,0,0,0,0.0,0.0,...,462675,Andrew R. Jassy,U.S.,Seattle,WA,www.amazon.com,Public,"Market value as of July 17, 2023.",1370373.0,2023-08-02
2,3,Exxon Mobil,XOM,Energy,Petroleum Refining,1,0,0,0.0,3.0,...,369067,Darren W. Woods,U.S.,Irving,TX,www.exxonmobil.com,Public,Excise taxes have been deducted. Market value ...,409878.0,2023-08-02
3,4,Apple,AAPL,Technology,"Computers, Office Equipment",1,0,0,1.0,-1.0,...,352755,Timothy D. Cook,U.S.,Cupertino,CA,www.apple.com,Public,"Figures are for fiscal year ended Sept. 30, 20...",3051211.0,2023-08-02
4,5,UnitedHealth Group,UNH,Health Care,Health Care: Insurance and Managed Care,1,0,0,1.0,0.0,...,245705,Andrew P. Witty,U.S.,Minnetonka,MN,www.unitedhealthgroup.com,Public,"Market value as of July 17, 2023.",450694.0,2023-08-02

In [8]:
df.isna().sum()

Rank                            0
Company                         0
Ticker                         41
Sector                          0
Industry                        0
Profitable                      0
Founder_is_CEO                  0
FemaleCEO                       0
Growth_in_Jobs                  7
Change_in_Rank                 71
Gained_in_Rank                 71
Dropped_in_Rank                71
Newcomer_to_the_Fortune500    500
Global500                       0
Best_Companies                  0
Number_of_employees             0
MarketCap_March31_M            41
Revenues_M                      0
RevenuePercentChange            9
Profits_M                       0
ProfitsPercentChange          134
Assets_M                        0
CEO                             1
Country                         0
HeadquartersCity                0
HeadquartersState               0
Website                         0
CompanyType                     0
Footnote                        9
MarketCap_Updated_M            35
Updated                         0
dtype: int64

In [9]:
df.isna().sum()

Rank                            0
Company                         0
Ticker                         41
Sector                          0
Industry                        0
Profitable                      0
Founder_is_CEO                  0
FemaleCEO                       0
Growth_in_Jobs                  7
Change_in_Rank                 71
Gained_in_Rank                 71
Dropped_in_Rank                71
Newcomer_to_the_Fortune500    500
Global500                       0
Best_Companies                  0
Number_of_employees             0
MarketCap_March31_M            41
Revenues_M                      0
RevenuePercentChange            9
Profits_M                       0
ProfitsPercentChange          134
Assets_M                        0
CEO                             1
Country                         0
HeadquartersCity                0
HeadquartersState               0
Website                         0
CompanyType                     0
Footnote                        9
MarketCap_Updated_M            35
Updated                         0
dtype: int64

In [10]:
df.rename(columns={'RevenuePercentChange':'Revenue_PercentChange'}, inplace=True)

In [11]:
df.rename(columns={'ProfitsPercentChange':'Profits_PercentChange'}, inplace=True)

In [12]:
df.rename(columns={'FemaleCEO':'Female_CEO'}, inplace=True)

In [13]:
df.rename(columns={'headquartersstate':'headquarters_state'}, inplace=True)

In [14]:
df.columns=[col.lower() for col in df.columns]

In [15]:
df.gained_in_rank.fillna('Unknown', inplace=True)

In [16]:
df.change_in_rank.fillna('Unknown', inplace=True)

In [17]:
df.gained_in_rank.fillna('Unknown', inplace=True)

In [18]:
df.columns

Index(['rank', 'company', 'ticker', 'sector', 'industry', 'profitable',
       'founder_is_ceo', 'female_ceo', 'growth_in_jobs', 'change_in_rank',
       'gained_in_rank', 'dropped_in_rank', 'newcomer_to_the_fortune500',
       'global500', 'best_companies', 'number_of_employees',
       'marketcap_march31_m', 'revenues_m', 'revenue_percentchange',
       'profits_m', 'profits_percentchange', 'assets_m', 'ceo', 'country',
       'headquarterscity', 'headquartersstate', 'website', 'companytype',
       'footnote', 'marketcap_updated_m', 'updated'],
      dtype='object')

In [19]:
df

,rank,company,ticker,sector,industry,profitable,founder_is_ceo,female_ceo,growth_in_jobs,change_in_rank,...,assets_m,ceo,country,headquarterscity,headquartersstate,website,companytype,footnote,marketcap_updated_m,updated
0,1,Walmart,WMT,Retailing,General Merchandisers,1,0,0,0.0,0.0,...,243197,C. Douglas McMillon,U.S.,Bentonville,AR,www.stock.walmart.com,Public,"Figures are for fiscal year ended Jan. 31, 202...",416986.0,2023-08-02
1,2,Amazon,AMZN,Retailing,Internet Services and Retailing,0,0,0,0.0,0.0,...,462675,Andrew R. Jassy,U.S.,Seattle,WA,www.amazon.com,Public,"Market value as of July 17, 2023.",1370373.0,2023-08-02
2,3,Exxon Mobil,XOM,Energy,Petroleum Refining,1,0,0,0.0,3.0,...,369067,Darren W. Woods,U.S.,Irving,TX,www.exxonmobil.com,Public,Excise taxes have been deducted. Market value ...,409878.0,2023-08-02
3,4,Apple,AAPL,Technology,"Computers, Office Equipment",1,0,0,1.0,-1.0,...,352755,Timothy D. Cook,U.S.,Cupertino,CA,www.apple.com,Public,"Figures are for fiscal year ended Sept. 30, 20...",3051211.0,2023-08-02
4,5,UnitedHealth Group,UNH,Health Care,Health Care: Insurance and Managed Care,1,0,0,1.0,0.0,...,245705,Andrew P. Witty,U.S.,Minnetonka,MN,www.unitedhealthgroup.com,Public,"Market value as of July 17, 2023.",450694.0,2023-08-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,TTEC Holdings,TTEC,Technology,Information Technology Services,1,1,0,1.0,-33.0,...,2154,Kenneth D. Tuchman,U.S.,Englewood,CO,www.ttec.com,Public,"Market value as of March 31, 2023.",1758.0,2023-06-05
996,997,ProFrac Holding,ACDC,Energy,"Oil and Gas Equipment, Services",1,0,0,1.0,Unknown,...,2934,Ladd Wilks,U.S.,Willow Park,TX,www.pfholdingscorp.com,Public,"Went public, May 13, 2022. Market value as of ...",2013.0,2023-06-05
997,998,Summit Materials,SUM,Materials,"Building Materials, Glass",1,0,1,0.0,-61.0,...,4256,Anne P. Noonan,U.S.,Denver,CO,www.summit-materials.com,Public,"Market value as of March 31, 2023.",3374.0,2023-06-05
998,999,Teladoc Health,TDOC,Health Care,Health Care: Pharmacy and Other Services,0,0,0,1.0,Unknown,...,4345,Jason Gorevic,U.S.,Purchase,NY,www.teladochealth.com,Public,"Market value as of March 31, 2023.",4212.0,2023-06-05
999,1000,Alliance Resource Partners,ARLP,Energy,"Mining, Crude-Oil Production",1,0,0,1.0,Unknown,...,2662,Joseph W. Craft III,U.S.,Tulsa,OK,www.arlp.com,Public,"A partnership. Market value as of March 31, 2023.",2566.0,2023-06-05

In [20]:
df.drop(['ticker', 'ceo', 'headquarterscity', 'website','footnote', 'updated', 'companytype'], axis=1, inplace=True)
df

,rank,company,sector,industry,profitable,founder_is_ceo,female_ceo,growth_in_jobs,change_in_rank,gained_in_rank,...,number_of_employees,marketcap_march31_m,revenues_m,revenue_percentchange,profits_m,profits_percentchange,assets_m,country,headquartersstate,marketcap_updated_m
0,1,Walmart,Retailing,General Merchandisers,1,0,0,0.0,0.0,0.0,...,2100000,397475.0,611289,6.7,11680,-14.6,243197,U.S.,AR,416986.0
1,2,Amazon,Retailing,Internet Services and Retailing,0,0,0,0.0,0.0,0.0,...,1541000,1058440.0,513983,9.4,-2722,-108.2,462675,U.S.,WA,1370373.0
2,3,Exxon Mobil,Energy,Petroleum Refining,1,0,0,0.0,3.0,1.0,...,62000,446424.0,413680,44.8,55740,141.9,369067,U.S.,TX,409878.0
3,4,Apple,Technology,"Computers, Office Equipment",1,0,0,1.0,-1.0,0.0,...,164000,2609039.0,394328,7.8,99803,5.4,352755,U.S.,CA,3051211.0
4,5,UnitedHealth Group,Health Care,Health Care: Insurance and Managed Care,1,0,0,1.0,0.0,0.0,...,400000,440854.0,324162,12.7,20120,16.4,245705,U.S.,MN,450694.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,TTEC Holdings,Technology,Information Technology Services,1,1,0,1.0,-33.0,0.0,...,69400,1758.0,2444,7.5,103,-26.8,2154,U.S.,CO,1758.0
996,997,ProFrac Holding,Energy,"Oil and Gas Equipment, Services",1,0,0,1.0,Unknown,Unknown,...,3664,2013.0,2426,215.7,92,NaN,2934,U.S.,TX,2013.0
997,998,Summit Materials,Materials,"Building Materials, Glass",1,0,1,0.0,-61.0,0.0,...,4800,3374.0,2413,0.1,272,78.8,4256,U.S.,CO,3374.0
998,999,Teladoc Health,Health Care,Health Care: Pharmacy and Other Services,0,0,0,1.0,Unknown,Unknown,...,5208,4212.0,2407,18.4,-13660,NaN,4345,U.S.,NY,4212.0
999,1000,Alliance Resource Partners,Energy,"Mining, Crude-Oil Production",1,0,0,1.0,Unknown,Unknown,...,3371,2566.0,2407,53.3,577,224.0,2662,U.S.,OK,2566.0

In [21]:
# Dictionary mapping state abbreviations to full state names
state_abbreviations = {
    'AL': 'Alabama',
    'AK': 'Alaska',
    'AZ': 'Arizona',
    'AR': 'Arkansas',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'IA': 'Iowa',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'ME': 'Maine',
    'MD': 'Maryland',
    'MA': 'Massachusetts',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MS': 'Mississippi',
    'MO': 'Missouri',
    'MT': 'Montana',
    'NE': 'Nebraska',
    'NV': 'Nevada',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NY': 'New York',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VT': 'Vermont',
    'VA': 'Virginia',
    'WA': 'Washington',
    'WV': 'West Virginia',
    'WI': 'Wisconsin',
    'WY': 'Wyoming'
}

abbreviation = 'CA'
full_name = state_abbreviations[abbreviation]

In [22]:
state_abbreviations.items()

dict_items([('AL', 'Alabama'), ('AK', 'Alaska'), ('AZ', 'Arizona'), ('AR', 'Arkansas'), ('CA', 'California'), ('CO', 'Colorado'), ('CT', 'Connecticut'), ('DE', 'Delaware'), ('FL', 'Florida'), ('GA', 'Georgia'), ('HI', 'Hawaii'), ('ID', 'Idaho'), ('IL', 'Illinois'), ('IN', 'Indiana'), ('IA', 'Iowa'), ('KS', 'Kansas'), ('KY', 'Kentucky'), ('LA', 'Louisiana'), ('ME', 'Maine'), ('MD', 'Maryland'), ('MA', 'Massachusetts'), ('MI', 'Michigan'), ('MN', 'Minnesota'), ('MS', 'Mississippi'), ('MO', 'Missouri'), ('MT', 'Montana'), ('NE', 'Nebraska'), ('NV', 'Nevada'), ('NH', 'New Hampshire'), ('NJ', 'New Jersey'), ('NM', 'New Mexico'), ('NY', 'New York'), ('NC', 'North Carolina'), ('ND', 'North Dakota'), ('OH', 'Ohio'), ('OK', 'Oklahoma'), ('OR', 'Oregon'), ('PA', 'Pennsylvania'), ('RI', 'Rhode Island'), ('SC', 'South Carolina'), ('SD', 'South Dakota'), ('TN', 'Tennessee'), ('TX', 'Texas'), ('UT', 'Utah'), ('VT', 'Vermont'), ('VA', 'Virginia'), ('WA', 'Washington'), ('WV', 'West Virginia'), ('WI', 'Wisconsin'), ('WY', 'Wyoming')])

In [23]:
full_name

'California'

In [24]:
def state_mapping(x):
    for i,j in state_abbreviations.items():
        if x == i:
            return j

In [26]:
#df['headquarters_state']= df['headquarters_state'].apply(state_mapping)

In [27]:
df

,rank,company,sector,industry,profitable,founder_is_ceo,female_ceo,growth_in_jobs,change_in_rank,gained_in_rank,...,number_of_employees,marketcap_march31_m,revenues_m,revenue_percentchange,profits_m,profits_percentchange,assets_m,country,headquartersstate,marketcap_updated_m
0,1,Walmart,Retailing,General Merchandisers,1,0,0,0.0,0.0,0.0,...,2100000,397475.0,611289,6.7,11680,-14.6,243197,U.S.,AR,416986.0
1,2,Amazon,Retailing,Internet Services and Retailing,0,0,0,0.0,0.0,0.0,...,1541000,1058440.0,513983,9.4,-2722,-108.2,462675,U.S.,WA,1370373.0
2,3,Exxon Mobil,Energy,Petroleum Refining,1,0,0,0.0,3.0,1.0,...,62000,446424.0,413680,44.8,55740,141.9,369067,U.S.,TX,409878.0
3,4,Apple,Technology,"Computers, Office Equipment",1,0,0,1.0,-1.0,0.0,...,164000,2609039.0,394328,7.8,99803,5.4,352755,U.S.,CA,3051211.0
4,5,UnitedHealth Group,Health Care,Health Care: Insurance and Managed Care,1,0,0,1.0,0.0,0.0,...,400000,440854.0,324162,12.7,20120,16.4,245705,U.S.,MN,450694.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,TTEC Holdings,Technology,Information Technology Services,1,1,0,1.0,-33.0,0.0,...,69400,1758.0,2444,7.5,103,-26.8,2154,U.S.,CO,1758.0
996,997,ProFrac Holding,Energy,"Oil and Gas Equipment, Services",1,0,0,1.0,Unknown,Unknown,...,3664,2013.0,2426,215.7,92,NaN,2934,U.S.,TX,2013.0
997,998,Summit Materials,Materials,"Building Materials, Glass",1,0,1,0.0,-61.0,0.0,...,4800,3374.0,2413,0.1,272,78.8,4256,U.S.,CO,3374.0
998,999,Teladoc Health,Health Care,Health Care: Pharmacy and Other Services,0,0,0,1.0,Unknown,Unknown,...,5208,4212.0,2407,18.4,-13660,NaN,4345,U.S.,NY,4212.0
999,1000,Alliance Resource Partners,Energy,"Mining, Crude-Oil Production",1,0,0,1.0,Unknown,Unknown,...,3371,2566.0,2407,53.3,577,224.0,2662,U.S.,OK,2566.0

In [28]:
df.to_excel("excel_fortune_1000_cleaned.xlsx", sheet_name='Sheet_name_1')